<div id="comments">
  <h3>Comments</h3>
  {% for c in page.comments %}
    <div class="comment {% cycle 'odd', 'even' %}">
      <p class="comment_header">
        From: {% if ! c.link.to_s.empty? %}
          <a href="{{c.link}}">{{c.name}}</a>
        {% else %}
          {{c.name}}
        {% endif %}
        <br />
        <span class="comment_date">{{c.date}}</span>
      </p>
      <p>
        {{c.comment | newline_to_br}}
      </p>
    </div>
  {% endfor %}
  <h4>Post a comment</h4>
  <em>All comments are held for moderation. No formatting except newlines allowed.</em>
  <form id="commentform" method="POST" action="{{site.url}}/comment">
    <input type="hidden" name="post_id" value="{{page.id}}" />
    <table>
      <tr>
        <th>Name:</th>
        <td><input type="text" size="25" name="name" /> (required)</td>
      </tr>
      <tr>
        <th>Email:</th>
        <td><input type="text" size="25" name="email" /> (required, not published)</td>
      </tr>
      <tr>
        <th>Link:</th>
        <td><input type="text" size="25" name="link" /> (optional)</td>
      </tr>
      <tr>
        <td colspan="2"><textarea name="comment" rows="10" cols="60" ></textarea></td>
      </tr>
      <tr>
        <td><input type="submit" name="submit" value="Submit Comment" /></td>
      </tr>
    </table>
  </form>
</div>
